<div>
  <header>
    <h1><%= @subscription.level %></h1>
  </header>
  <header>
    <h2><%= @visitor.first_name %></h2>
</header>
   <li><%= @visitor.last_name %></li>
   <li><%= @visitor.email %></li>
</div>