   <h1>Boxes</h1>
        <h4><%= link_to "New Box", new_box_path %></h4>
        <div>
        <% @userboxes.each do |userbox| %>
        <% userboxid= userbox.id%>
        <%# binding.pry %>
        <% id = userbox.order.id %>
        <fieldset>
        <p>Order ID:<%=link_to "#{id}", order_path(userbox) %></p>
        <p>Box ID:<%= userboxid %> </p>
        <p>Title: <%=link_to "#{userbox.title}", box_path(userbox) %></p>
        </fieldset>
        <% end %>
        <%#binding.pry%>
        </div>
