<% binding.pry %>
   <h1>Subscriptions</h1>
        <div id="subscriptions">
          <% @subscriptions.each do |subscription| %>
            <div class="well well-sm">
              <h2>subscription level: <%= link_to subscription.level, subscription %></h2>
        </div>
          <% end %>