   <h1>Subscriptions</h1>
        <%= link_to "New visitor subscription", visitor_subscriptions_new_path %>
        <div>
          <% @subscriptions.each do |subscription| %>
            <%# binding.pry %>
            <% hidden_field_tag subscription.id %>
            <%# binding.pry %>
            <h2>Level: <%= link_to subscription.level, subscription_url(subscription)%></h2>
            <p>Description: <%= subscription.description %></p>
           <% end %>
        </div>
