<h1>Subscriptions</h1>
<%= link_to "New visitor subscription", visitor_subscriptions_new_path %>
<div>
  <% @visitor_subscriptions.each do |subscription| %>
    <%# binding.pry %>
    <% hidden_field_tag subscription.id %>
    <%# binding.pry %>
    <h2>Level: <%= subscription.level%></h2>
    <% end %>
</div>